*  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  background-color: black;
}

.black-space {
  width: 100vh;
  height: 80px;
  background-color: black;
}

.window {
  width: 100%;
  height: calc(100vh - 160px);
  min-width: 500px;
  min-height: 600px;
  background-color: black;
  overflow: auto;
}

.menu {
  width: 100vw;
  height: 80px;
  background-color: #222222;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  width: 90%;
  height: 100%;
  padding-bottom: 15px;
}

.card {
  position: relative;
  width: 240px;
  height: 140px;
  background-color: azure;
  margin: 0 2px 15px 2px;
}