*  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  background-color: black;
  overflow-y: hidden;
}

.black-space {
  position: relative;
  width: 100vw;
  height: 80px;
  background-color: black;
}

.view {
  position: absolute;
  top: 10px;
  right: 40px;
}

.view a {
  font-size: 15px;
  padding: 5px;
  text-decoration: none;
  background-color: #4A4A4A;
  border-radius: 5%;
  border: 1px solid rgba(191, 188, 188, 0.531);
}

.extended {
  position: absolute;
  top: 10px;
  right: 5px;
}

.extended a {
  font-size: 15px;
  padding: 5px;
  background-color: #4A4A4A;
  border-radius: 10%;
  border: 1px solid rgba(191, 188, 188, 0.531);
}

.window {
  width: 100%;
  height: calc(100vh - 160px);
  min-width: 500px;
  background-color: black;
  overflow: auto;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  width: 90%;
  height: 100%;
  padding-bottom: 15px;
}

.card {
  position: relative;
  width: 240px;
  height: 140px;
  background-color: azure;
  margin: 0 2px 15px 2px;
}

.utente {
  position: absolute;
  left: 0;
  bottom: 5px;
  font-size: 15px;
  color: white;
  z-index: 3;
  display: inline-block;
  padding: 1px;
  background-color: rgba(0, 0, 0, .3);
}

.menu {
  position: relative;
  width: 100vw;
  height: 80px;
  background-color: #222222;
  display: flex;
}

ul {
  display: flex;
  list-style-type: none;
}

a {
  color: white;
  font-size: 30px;
  padding-left: 5px;
}

.name {
  padding-top: 6px;
  display: block;
  color: white;
}

.webcam {
  position: relative;
  flex-grow: 1;
}

.microfone {
  position: absolute;
  top: 10px;
  left: 20px;
}

.arrow {
  color: white;
  margin-left: 20px;
}

.utility {
  display: flex;
  justify-content: space-around;
  margin: 10px;
  flex-grow: 1;
}

.end-meeting {
  flex-grow: 1;
}

.cam {
  position: absolute;
  top: 10px;
  left: 100px;
}

.cam a {
  padding-left: 20px;
}

.icon {
  text-align: center;
  padding: 5px;
}

.icon .arrow {
  line-height: 50px;
  margin-right: 10px;
}

.share-screen i {
  color: #4BC701;
}

.button {
  display: inline-block;
  position: absolute;
  right: 0;
  line-height: 80px;
  padding: 0 20px;
  background-color: #4A4A4A;
  color: red;
  cursor: pointer;
}