*  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  background-color: black;
}

.black-space {
  width: 100vh;
  height: 80px;
  background-color: black;
}

.window {
  width: 100%;
  height: calc(100vh - 160px);
  min-width: 500px;
  background-color: black;
  overflow: auto;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  width: 90%;
  height: 100%;
  padding-bottom: 15px;
}

.card {
  position: relative;
  width: 180px;
  height: 110px;
  background-color: azure;
  margin: 0 2px 15px 2px;
}

.menu {
  position: relative;
  width: 100vw;
  height: 80px;
  background-color: #222222;
  display: flex;
}

ul {
  display: flex;
  list-style-type: none;
}

a {
  color: white;
  font-size: 30px;
  padding-left: 5px;
}

.name {
  padding-top: 6px;
  display: block;
  color: white;
}

.webcam {
  position: relative;
  flex-grow: 1;
}

.microfone {
  position: absolute;
  top: 10px;
  left: 20px;
}

.arrow {
  color: white;
  margin-left: 20px;
}

.utility {
  display: flex;
  justify-content: space-around;
  margin: 10px;
  flex-grow: 1;
}

.end-meeting {
  flex-grow: 1;
}

.cam {
  position: absolute;
  top: 10px;
  left: 100px;
}

.cam a {
  padding-left: 20px;
}

.icon {
  text-align: center;
  padding: 5px;
}

.icon .arrow {
  line-height: 50px;
  margin-right: 10px;
}

.share-screen i {
  color: #4BC701;
}

.button {
  display: inline-block;
  position: absolute;
  right: 0;
  line-height: 80px;
  padding: 0 20px;
  background-color: #4A4A4A;
  color: red;
}